.error {
  font-family: "Roboto", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: plum;
  z-index: 9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(8, 8, 36);
}

.error span {
  font-size: 30px;
}

.zoomIn {
  margin-top: 50px;
  font-size: 25px;
}

.des{
    font-size: 20px;
    font-weight: 200;
}

@media screen and (max-width: 750px) {
    .error {
      display: none;
    }
